{% extends 'inventario/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                <h4 class="mb-0 fw-bold">Control de Stock - ELITE</h4>
                <a href="/crear_producto/" class="btn btn-sm btn-primary fw-bold">+ Agregar Repuesto</a>
            </div>
            <div class="card-body bg-white text-dark">
                
                <table class="table table-hover table-bordered align-middle mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>Producto / Repuesto</th>
                            <th>Categoría</th>
                            <th>Precio</th>
                            <th class="text-center">Stock Actual</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prod in productos %}
                        <tr>
                            <td class="fw-bold">{{ prod.nombre }}</td>
                            <td>{{ prod.categoria.nombre }}</td>
                            <td>${{ prod.precio }}</td>
                            <td class="text-center fw-bold">
                                {% if prod.stock < 5 %}
                                    <span class="badge bg-danger">{{ prod.stock }} (¡Alerta Crítica!)</span>
                                {% else %}
                                    <span class="badge bg-success">{{ prod.stock }}</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="/editar_producto/{{ prod.id }}/" class="btn btn-xs btn-warning btn-sm me-1">Editar</a>
                                <a href="/eliminar_producto/{{ prod.id }}/" class="btn btn-xs btn-danger btn-sm" onclick="return confirm('¿Estás seguro?');">Borrar</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-muted py-4">
                                No hay productos registrados en el sistema de stock todavía.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock %}